/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
  
    --------------------------------------
  
	Regarding the worldbuilding content: 
	The specific parameters and names associated with the
	"nimyric", "pereqaian", "rilsu" and "twk" calendars are not included
	in the license mentioned above.
	Further details can be found in the file "readme.md" in the root folder.
*/

:root{
	--item-margin: 5px;
	
	--outer-border-size: 10px;
	--inner-border-size: 5px;
	
	--generic-brighter-color: #cccccc;
	--generic-neutral-color: #555555;
	--generic-darker-color: #333333;
	--generic-tag-neutral-color: rgba(20,20,20,0.5);
	--generic-tag-darker-color: rgba(0,0,0,0.5);
	--generic-font-family: Oregano, sans-serif;
	--generic-text-color: white; 

	--generic-page-color: rgba(255,255,255,0.15);
	--generic-panel-color: rgba(0,0,0,0.5);
	--generic-panel-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	--generic-page-color: rgba(255,255,255,0.15);
	--generic-page-glow: 0px 0px 60px rgba(170,170,170,1.0);

	--rainbow-glow-color1: rgba(70,90,255,0.5);
	--rainbow-glow-color2: rgba(255, 25, 30, 0.5);
	--rainbow-glow-color3: rgba(255, 200,0,0.5);
	--rainbow-glow-color4: rgba(10,255,130,0.5);
	--generic-link-glow: 3px -3px 5px var(--rainbow-glow-color1), 3px 3px 5px var(--rainbow-glow-color2), -3px 3px 5px var(--rainbow-glow-color3), -3px -3px 5px var(--rainbow-glow-color4);
 
	--page-bg-img:url('img/starfield.jpg');
	--fish-bg-img:url('img/wood.png');
	--rilsu-bg-img:url('img/steel.jpg');
	--twk-bg-img:url('img/velvet.png');
	
	--generic-border-img:url('img/multiColorFrame.png') 20 stretch;
	--fish-border-img:url('img/brassFrame.png') 20 stretch;
	--rilsu-border-img:url('img/steelFrame.png') 20 stretch;
	--twk-border-img:url('img/purpleFrame.png') 20 stretch;
	
	--twk-highlight-color: chartreuse;
	--twk-brighter-color: #e0e0f0;
	--twk-neutral-color: blueViolet;
	--twk-darker-color: indigo; 
	--rilsu-highlight-color: #80d4ff;
	--rilsu-brighter-color: #d0d0e1;
	--rilsu-neutral-color: #50507c;
	--rilsu-darker-color: #28283e;
	--fish-highlight-color: khaki;
	--nimyric-brighter-color: #ccdbff;
	--nimyric-neutral-color: #004eff;
	--nimyric-darker-color: #002680;
	--pereqaian-brighter-color: #ffcccc;
	--pereqaian-neutral-color: #ff0000;
	--pereqaian-darker-color: #800000;
}

body{
	background-image: var(--page-bg-img);
	color: var(--generic-text-color);
	margin:0px;
}

body, body .toolshelf, input,select,button{
	font-family:var(--generic-font-family);
	font-size:18px;
}

h1,h2,h3,h4,h5{
	color:var(--generic-text-color);
	font-family:var(--generic-font-family);
	margin:0px;
}

hr{
	border: 1px solid var(--generic-text-color);
}

.toolshelf{
	width:337px;
	height:630px;
	margin-left:0px;
	margin-top:0px;
	position:relative;
	padding:0px;
	background:purple;
}

.panel, canvas{
	border: var(--inner-border-size) solid transparent;
	border-image: var(--generic-border-img);
	margin:0px;
}

.toolshelf-section{
	padding:10px;
	display:inline-block;
	position:relative;
	top:0px;
	width:307px;
	height:auto;
	margin:0px;
}

.nimyric.panel,
.nimyric .panel{
	border-image: var(--fish-border-img);
	background-image: var(--fish-bg-img);
	background-size: 300px 300px;
}

.toolshelf-section .anim-control{
	position:absolute;
	top:10px;
	right:10px;
	width:auto;
	height:30px;
	z-index:1;
	padding:0px;
}
.toolshelf-section .anim-control button{
	display: inline;
	width:30px;
	height:30px;
	margin-top:0px;
	margin-bottom:0px;
	font-family:sans-serif;
}

.tooltip{
	display:inline;
	position:relative;
	border-bottom: 1px dotted var(--generic-text-color)!important;
}

.tooltip .tooltip-text{
	display:none;
	position:absolute;
	text-align:center;
	background:var(--generic-darker-color);
	color:var(--fg-color);
	padding:5px;
	width: 30px;
	bottom:100%;
	margin-left:-20px;
	left:50%;
	z-index:2;
}

.tooltip .tooltip-text::after{
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--generic-darker-color) transparent transparent transparent!important;
}

.tooltip:hover .tooltip-text{
	display:inline-block;
}


select, input{
	background: var(--generic-panel-color);
	border: 1px solid var(--generic-text-color);
	color: var(--generic-text-color);	
}

.nimyric select, .nimyric input{
	background: var(--nimyric-darker-color);
}

select{
	width: auto;
}

input{
	width:40px;
}

input#hour_nimyric{
	width:60px;
}

input#year_nimyric{
	width:80px;
}

select, input{
	margin: var(--item-margin);
}

button{
	margin:var(--item-margin) 0px 0px 0px;
	width:100%;
}


.toolshelf-section label{
	display:inline-block;
	margin-left:0px;
	width:50px!important;
}



.about{
	padding:10px;
	top:590px;
	position:absolute;
	height:20px;
	width:317px;
	background:var(--generic-darker-color);
	z-index:1;
	vertical-align:bottom;
}

.about a{
	color:var(--generic-text-color);
}

.about a:hover{
	color:var(--generic-text-color);
	text-shadow:0px 0px 10px var(--fish-highlight-color);
}

.about:hover{
	height:270px;
	top:340px;
	box-shadow:0px 0px 30px black;
}

.about .trigger{
	height:20px;
	color:var(--generic-text-color);
	opacity:1.0;
}

.about:hover .trigger{
	opacity:0.25;
}

.about .show-on-hover{
	display:none;
	height:250px;
}

.about:hover .show-on-hover{
	display:inline-block;
}