.about{
	padding:10px;
	height:20px;
	width:930px;
	background:lightGray;
	position:relative;
	z-index:10;
	vertical-align:bottom;
}

.about .trigger{
	height:20px;
	opacity:1.0;
}

.about:hover .trigger{
	opacity:0.25;
}

.about .show-on-hover{
	display:none;
	height:195px;
	width:930px;
}

.about:hover .show-on-hover{
	display:inline-block;
	position:absolute;
	left:0px;
	top:40px;
	padding:10px;
	background:lightGray;
	box-shadow:0px 0px 30px black;
}
