/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.page.hd{
	width:1920px;
	height:1080px;
	display:inline-block;
	margin-left:auto;
}

.hd .sidebar{
	position:relative;
	width:620px;
	display:inline-block;
	vertical-align:top;
	margin-left:6px;
}

.hd .toolshelf-section{
	font-size: 1.6em;
	margin-bottom:4px;
}

.hd .toolshelf-section input,
.hd .toolshelf-section select{
	font-size: 1.05em;
}

.hd .toolshelf-section input.year{
	width:100px;
}

.hd .controlpanel{
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:5;
}

.hd .controlpanel.show-on-hover{
	opacity:0.0;
}

.hd .controlpanel.show-on-hover:hover{
	opacity:1.0;
}