/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/


.page{
	width:1920px;
	height:1080px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid white;
	position:relative;
}

.control-panel{
	position:relative;
	margin-bottom:10px;
}

.control-panel .panel{
	display:inline-block;
}

.control-panel select{
	color:var(--generic-text-color);
}


#output-twk{
	position:absolute;
	right:0px;
	top:0px;
}

#output-twk .display-section{
	text-align:right;
	font-size:4.0em;
	width:auto;
	color:var(--generic-darker-color);
	position:relative;
}


#output-twk .year-block,
#output-twk .date-block,
#output-twk .time-block
{
	position:absolute;
	display:block;
	right:30px;
}

#output-twk .year-block{
	top: 15px;
	width:500px;
}

#output-twk .time-block{
	top: 300px;
	width: 300px;
}

#output-twk .date-block{
	top:690px;
}

#output-twk .year,
#output-twk .era,
#output-twk .month,
#output-twk .day,
#output-twk .hours{
	display:inline-block;
}

#output-twk .year{
	width: 220px;
}

#output-twk .month{
	width: 500px;
}

#output-twk .day{
	width: 100px;
}

#output-twk .hours{
	width: 110px;
}


#output-twk .tooltip-text{
	display:none;
}