/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/


.page{
	width:1920px;
	height:1080px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid white;
	position:relative;
}

.canvas-container{
	position:relative;
	display:inline-block;
}

.toolshelf-section{
	font-size: 1.8em;
	position: absolute;
	width:395px;
}

.toolshelf-section h2{
	margin-left:5px;
}

.toolshelf-section input,
.toolshelf-section select{
	font-size: 1.0em;
}

.toolshelf-section input{
	width:50px;
}

.toolshelf-section input.year{
	width:110px;
}


.control-panel{
	position:relative;
	width:1920px;
	margin-left:auto;
}