/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This particular file contains the specific parameters and names associated with the
	Kaleidoscope System project, which are not covered by the GPLv3 license.
	However, you can use it as a reference for creating your own theme.
	
	Further details can be found in the file "readme.md" in the root folder.
*/

:root{
	--generic-brighter-color: #cccccc;
	--generic-neutral-color: #555555;
	--generic-darker-color: #333333;
	--generic-tag-neutral-color: rgba(20,20,20,0.5);
	--generic-tag-darker-color: rgba(0,0,0,0.5);
	--generic-font-family: Oregano, sans-serif;
	--generic-text-color: white; 

	--generic-page-color: rgba(255,255,255,0.15);
	--generic-panel-color: rgba(0,0,0,0.5);
	--generic-panel-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	--generic-page-color: rgba(255,255,255,0.15);
	--generic-page-glow: 0px 0px 60px rgba(170,170,170,1.0);

	--rainbow-glow-color1: rgba(70,90,255,0.5);
	--rainbow-glow-color2: rgba(255, 25, 30, 0.5);
	--rainbow-glow-color3: rgba(255, 200,0,0.5);
	--rainbow-glow-color4: rgba(10,255,130,0.5);
	--generic-link-glow: 3px -3px 5px var(--rainbow-glow-color1),
						 3px 3px 5px var(--rainbow-glow-color2),
						 -3px 3px 5px var(--rainbow-glow-color3),
						 -3px -3px 5px var(--rainbow-glow-color4);
 
	--page-bg-img:url('../img/starfield.jpg');
	--celestial-bg-img:url('../img/kaleidoscope_backdrop.png');
	--fish-bg-img:url('../img/wood.png');
	--rilsu-bg-img:url('../img/steel.jpg');
	--twk-bg-img:url('../img/velvet.png');
	
	--generic-border-img:url('../img/multiColorFrame.png') 20 stretch;
	--fish-border-img:url('../img/brassFrame.png') 20 stretch;
	--rilsu-border-img:url('../img/steelFrame.png') 20 stretch;
	--twk-border-img:url('../img/purpleFrame.png') 20 stretch;
	
	--twk-highlight-color: chartreuse;
	--twk-brighter-color: #e0e0f0;
	--twk-neutral-color: blueViolet;
	--twk-darker-color: indigo; 
	--rilsu-highlight-color: #80d4ff;
	--rilsu-brighter-color: #d0d0e1;
	--rilsu-neutral-color: #50507c;
	--rilsu-darker-color: #28283e;
	--fish-highlight-color: khaki;
	--nimyric-brighter-color: #ccdbff;
	--nimyric-neutral-color: #004eff;
	--nimyric-darker-color: #002680;
	--pereqaian-brighter-color: #ffcccc;
	--pereqaian-neutral-color: #ff0000;
	--pereqaian-darker-color: #800000;
}

body{
	background-image: var(--page-bg-img);
	color: var(--generic-text-color);
}

body, body .page, input,select,button{
	font-family:var(--generic-font-family);
	font-size:18px;
}

h1,h2,h3,h4,h5{
	color:var(--generic-text-color);
	font-family:var(--generic-font-family);
	margin:0px;
}

hr{
	border-color:var(--generic-text-color);
}

a{
	color:var(--generic-text-color);
}

a:hover{
	color:var(--generic-text-color);
	text-shadow:var(--generic-link-glow);
}

/*----------------------------------------------
   outer containers
  ----------------------------------------------*/

.page.short.kaleidoscope{
	height:450px;
}


.page.framed.kaleidoscope{
	border-image: var(--generic-border-img);
	background:var(--generic-page-color);
	box-shadow:var(--generic-page-glow);
	margin-top:40px;
}


.kaleidoscope .panel,
.kaleidoscope canvas{
	border-image:var(--generic-border-img);
}

.kaleidoscope canvas.backdrop{
	background:var(--celestial-bg-img);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.panel.nimyric,
.panel.pereqaian{
	background-image:var(--fish-bg-img);
	background-size: 300px 300px;
	border-image:var(--fish-border-img);
}

.panel.rilsu{
	background-image:var(--rilsu-bg-img);
	background-size: 1000px 1700px;
	border-image:var(--rilsu-border-img);
}
.panel.twk{
	background-image:var(--twk-bg-img);
	background-size: 300px 300px;
	border-image:var(--twk-border-img);
}

/*----------------------------------------------
   date inputs
  ----------------------------------------------*/

.kaleidoscope .toolshelf{
	background: var(--generic-page-color);
}

.kaleidoscope .toolshelf .separator{
	height:190px;
	top:5px;
}

.kaleidoscope.wide .toolshelf-section{
	width: 400px;
}

.kaleidoscope.narrow .toolshelf-section{
	height: 255px;
}

.kaleidoscope.narrow.short .toolshelf-section{
	height: 145px;
}

.kaleidoscope.narrow .toolshelf-section.lower{
	margin-top:10px;
}

.kaleidoscope.narrow h2{
	margin-bottom:0px;
}

.kaleidoscope select, input{
	background: var(--generic-darker-color);
	border: 1px solid var(--generic-text-color);
	color: var(--generic-text-color);	
}

.nimyric select, .nimyric input{
	background: var(--nimyric-darker-color);
}

.pereqaian select, .pereqaian input{
	background: var(--pereqaian-darker-color);
}

.rilsu select, .rilsu input{
	background: var(--rilsu-darker-color);
}

.twk select, .twk input{
	background: var(--twk-darker-color);
}


/*----------------------------------------------
   textual date displays
  ----------------------------------------------*/

.kaleidoscope .output{
	color: var(--fg-color);
	height: 110px;
}

.kaleidoscope .output .separator{
	height: 110px;
}

.kaleidoscope .output .display-caption{
	background:var(--generic-panel-color);
	width:90px;
	left:-5px;
	top:-5px;
}

.output.utd .display-caption{
	background:var(--generic-panel-color);
}

.output.nimyric .display-caption{
	background: var(--nimyric-neutral-color);
	box-shadow: 0px 0px 50px inset var(--nimyric-darker-color);
	text-shadow: 0px 0px 20px var(--nimyric-darker-color);
}

.output.pereqaian .display-caption{
	background: var(--pereqaian-neutral-color);
	box-shadow: 0px 0px 50px inset var(--pereqaian-darker-color);
	text-shadow: 0px 0px 20px var(--pereqaian-darker-color);
}

.output.rilsu.display-caption{
	background: var(--rilsu-neutral-color);
	box-shadow: 0px 0px 50px inset var(--rilsu-darker-color);
	text-shadow: 0px 0px 20px var(--rilsu-darker-color);
}

.output.twk{
	height:130px;
}

.output.twk .separator{
	height:130px;
}

.output.twk .display-section{
	height:130px;
}

.output.twk .display-caption{
	background:var(--twk-neutral-color);
	box-shadow: 0px 0px 50px inset var(--twk-darker-color);
	text-shadow: 0px 0px 20px var(--twk-darker-color);
}

/*----------------------------------------------
   tooltips
  ----------------------------------------------*/
  
.kaleidoscope .tooltip{
	border-bottom-color:var(--generic-text-color);
}

.kaleidoscope .tooltip .tooltip-text{
	background:var(--generic-darker-color);
	color:var(--fg-color);
}

.kaleidoscope .tooltip .tooltip-text::after{
	border-top-color: var(--generic-darker-color);
}

.kaleidoscope .tooltip:hover .tooltip-text{
	display:inline-block;
}

/*----------------------------------------------
   about boxes
  ----------------------------------------------*/

.about{
	background:var(--generic-darker-color);
}

.about:hover .show-on-hover{
	background:var(--generic-darker-color);
}

.narrow.short .about{
	top:380px;
}

/*----------------------------------------------
   link blocks
  ----------------------------------------------*/

.kaleidoscope .link-block{
	border-image:var(--generic-border-img);
	background:var(--generic-darker-color);
}

.kaleidoscope .link-block .indicator{
	background: var(--generic-panel-color);
}

.link-block.nimyric,
.link-block.pereqaian{
	border-image:var(--fish-border-img);
	background-image:var(--fish-bg-img);
	background-size:300px 300px;
}

.link-block.nimyric a:hover,
.link-block.pereqaian a:hover{
	text-shadow: 0px 0px 10px var(--fish-highlight-color); 
}

.link-block.nimyric .indicator{
	background: var(--nimyric-neutral-color);
}

.link-block.pereqaian .indicator{
	background: var(--pereqaian-neutral-color);
}

.link-block.rilsu{
	border-image:var(--rilsu-border-img);
	background-image:var(--rilsu-bg-img);
	background-size:1000px 1700px;
}

.link-block.rilsu .indicator{
	background: var(--rilsu-neutral-color);
}

.link-block.rilsu a:hover{
	text-shadow: 0px 0px 10px var(--rilsu-highlight-color); 
}

.link-block.twk{
	border-image:var(--twk-border-img);
	background-image:var(--twk-bg-img);
	background-size:300px 300px;
}

.link-block.twk .indicator{
	background: var(--twk-neutral-color);
}

.link-block.twk a:hover{
	text-shadow: 0px 0px 10px var(--twk-highlight-color); 
}